<div class="topnav">
  <a href="/home" class="active"> <img class="logo" src="/images/logo.png" width=23px height=20px
      alt="logo">Wanderfull</a>
  <div id="myLinks">
    <a class="selectlink" href="/home">Home</a>
    <a class="selectlink" href="/logout">Logout</a>
  </div>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

<div class="container2">
  <div class="app">
    <h2>Hello {{user.username}} here are your routes to choose:</h2>
    <ul class="hs">
      {{#each data}}
      <li class="item">
        <h4>{{this.name}}</h4>
        <div class="card_content">
          <p>Price: {{this.price}}€</p>
          <p>Duration: {{this.time}} hours</p>
          <p>Distance:{{this.distance}}km</p>
          <p>Stops: {{this.points.length}}</p>
          <p>Information: {{this.info}} </p>
        </div>
        {{!-- <button class="btns">Buy this route</button> --}}
        <a href="/users_choice/{{_id}}" class="btns">GO!</a>
      </li>
      {{/each}}

    </ul>
    <p>When you buy this route, 5% of it is going to Unicef.</p>
  </div>