<a class="btns" href="/logout">Logout</a>
<button class="btns"><a href="/home">RETURN</a></button>


<div class="container2">
  <div class="app">
    <h2>Hello *User here are your routes to choose:</h2>
    <ul class="hs">
      {{#each data}}
      <li class="item">
        <h4>{{this.name}}</h4>
        <p>Price: {{this.price}}€</p>
        <p>Duration: {{this.time}} hours</p>
        <p>Distance:{{this.distance}}km</p>
        <p>Places: {{this.points}}</p>
        <p>Information: {{this.info}} </p>
        {{!-- <button class="btns">Buy this route</button> --}}
        <a href="/users_choice/{{_id}}" class="btns">Buy this Route</a>
      </li>
      {{/each}}

    </ul>
    <p>When you buy this route, 5% of it is going to Unicef.</p>
  </div>