<a class="logouttext" href="/logout">Logout</a>




<div class="container2">
  <div class="app">
    <h2>Hello Users this is your routes to choose today:</h2>
    <ul class="hs">
      {{#each data}}
      <li class="item">
        <h4>{{this.name}}</h4>
        <p>Price: {{this.price}}€</p>
        <p>Duration: {{this.time}} hours</p>
        <p>Distance:{{this.distance}}km</p>
        <p>Places: {{this.points}}</p>
        <p>Information: {{this.info}} </p>
        <button class="btns">Buy this route</button>
      </li>
      {{/each}}

    </ul>
    <p>When you buy this route, 5% of it is going to Unicef.</p>
  </div>